# Practice importing two data sets, joining with SQL, and analyzing data
Using 2 data sets from my research, I combined the data to run regression analyses. Skills practiced:

- Reading in dataset
- Dealing with missing data (continuous and categorical)
- Merging two datasets using SQL
- Collapsing the Gender variable to have 3 categories using SQL
- Recoding Gender 
- Running simple linear regression using statsmodel while controlling for age and gender
- Graphing linear regression

In [35]:
# Changing the Current Working Directory
import os
# Change the Current Working Directory
# Specify the new directory path
new_directory = '/Users/mickey.rice/Desktop'

# Change the current working directory
os.chdir(new_directory)

# Verify the change
current_directory = os.getcwd()
print("Current Working Directory:", current_directory)

Current Working Directory: /Users/mickey.rice/Desktop

## Load in the datasets

In [51]:
# Load the PMD CSV File
import pandas as pd
csv_file_path = 'PMD.csv'
PMD_csv = pd.read_csv(csv_file_path)
print("PMD:")
display(PMD_csv.head())

PMD:

,ID,Accuracy,RT,PHQ9,CESD,DASS,PRMQ1,Confidence,JOL,N300,PP,Age,Sex,Gender,Race,Ethnicity,Handedness
0,PMD02,73.611111,1116.633001,16,33,7,27,11,60,-7.268333,2.764000,NaN,Female,Female,\te. White,\tb. Not Hispanic or Latino,Right handed
1,PMD03,76.388889,805.957503,13,26,0,28,8,83,-9.697000,0.866000,18.0,Female,Female,e. White,b. Not Hispanic or Latino,Right handed
2,PMD04,77.777778,713.443193,13,37,14,27,8,95,-1.530000,-4.111333,NaN,Male,Transgender Nonbinary,\te. White,\tb. Not Hispanic or Latino,Right handed
3,PMD05,68.055556,1137.573536,16,40,16,37,22,87,-2.507000,0.486333,18.0,Female,Female,\te. White,\tb. Not Hispanic or Latino,Right handed
4,PMD06,18.055556,796.787629,10,32,10,27,12,70,-2.468333,2.281333,18.0,Female,Female,e. White,b. Not Hispanic or Latino,Right handed

In [52]:
# Load the DEX CSV File
import pandas as pd
csv_file_path = 'DEX.csv'
DEX_csv = pd.read_csv(csv_file_path)
print("DEX:")
display(DEX_csv.head())

DEX:

,ID_Number,Q3.1_1,Q3.1_2,Q3.1_3,Q3.1_4,Q3.1_5,Q3.1_6,Q3.1_7,Q3.1_8,Q3.1_9,...,Q3.1_17,Q3.1_18,Q3.1_19,Q3.1_20,DEXTOTAL,F1,F2,F3,F4,F5
0,PMA01,5,2,1,2,5,4,2,1,4,...,1,5,4,1,56,5,14,11,8,6
1,PMA02,3,1,1,2,2,1,2,3,2,...,2,1,3,1,41,6,5,7,7,5
2,PMA03,1,4,3,4,5,3,4,2,4,...,3,4,4,2,66,9,8,12,12,10
3,PMA04,2,1,3,1,2,1,1,1,3,...,2,2,2,1,35,3,5,7,4,6
4,PMA06,4,2,5,3,5,5,4,3,3,...,3,5,4,1,69,9,14,15,11,6

## Dealing with missing data

In [53]:
import numpy as np
PMD_csv.isnull().sum()  # Returns the count of missing values in each column

ID            0
Accuracy      0
RT            0
PHQ9          0
CESD          0
DASS          0
PRMQ1         0
Confidence    0
JOL           0
N300          0
PP            0
Age           2
Sex           0
Gender        0
Race          1
Ethnicity     0
Handedness    0
dtype: int64

In [54]:
# Fill in the missing data with mean of the column
# I would prefer to use interpolation, but since the first participant is missing their age, I cannot use interpolation due to boundary issues
PMD_csv['Age'].fillna(PMD_csv['Age'].mean(), inplace=True)

# Fill missing values for Race with the Unknown
PMD_csv['Race'] = PMD_csv['Race'].fillna('Unknown')

# Check if there are any missing values left
PMD_csv.isnull().sum()

ID            0
Accuracy      0
RT            0
PHQ9          0
CESD          0
DASS          0
PRMQ1         0
Confidence    0
JOL           0
N300          0
PP            0
Age           0
Sex           0
Gender        0
Race          0
Ethnicity     0
Handedness    0
dtype: int64

In [55]:
import numpy as np
DEX_csv.isnull().sum()  # Returns the count of missing values in each column

ID_Number    0
Q3.1_1       0
Q3.1_2       0
Q3.1_3       0
Q3.1_4       0
Q3.1_5       0
Q3.1_6       0
Q3.1_7       0
Q3.1_8       0
Q3.1_9       0
Q3.1_10      0
Q3.1_11      0
Q3.1_12      0
Q3.1_13      0
Q3.1_14      0
Q3.1_15      1
Q3.1_16      0
Q3.1_17      0
Q3.1_18      0
Q3.1_19      0
Q3.1_20      0
DEXTOTAL     0
F1           0
F2           0
F3           0
F4           0
F5           0
dtype: int64

In [56]:
# Fill in the missing data with interpolation for numerical columns
DEX_csv['Q3.1_15'].interpolate(method='linear', inplace=True)

# Check if there are any missing values left
DEX_csv.isnull().sum()

ID_Number    0
Q3.1_1       0
Q3.1_2       0
Q3.1_3       0
Q3.1_4       0
Q3.1_5       0
Q3.1_6       0
Q3.1_7       0
Q3.1_8       0
Q3.1_9       0
Q3.1_10      0
Q3.1_11      0
Q3.1_12      0
Q3.1_13      0
Q3.1_14      0
Q3.1_15      0
Q3.1_16      0
Q3.1_17      0
Q3.1_18      0
Q3.1_19      0
Q3.1_20      0
DEXTOTAL     0
F1           0
F2           0
F3           0
F4           0
F5           0
dtype: int64

## Create SQLite database

In [57]:
import sqlite3

# Create a connection to an in-memory SQLite database
conn = sqlite3.connect(':memory:')

## Load DataFrames into the SQLite Database

In [58]:
# Write the dataframes to the SQLite database
PMD_csv.to_sql('table1', conn, index=False, if_exists='replace')
DEX_csv.to_sql('table2', conn, index=False, if_exists='replace')

136

## Perform the SQL Merge Query

In [59]:
# Perform the SQL merge query
query = """
SELECT ID, Accuracy, PHQ9, DEXTOTAL, F1, F2, F3, F4, F5, Age, Gender
FROM table1
JOIN table2
ON table1.ID = table2.ID_Number
"""

# Execute the query and fetch the result into a pandas dataframe
merged_df = pd.read_sql_query(query, conn)

# Display the merged dataframe
print(merged_df)

       ID   Accuracy  PHQ9  DEXTOTAL  F1  F2  F3  F4  F5        Age  \
0   PMD02  73.611111    16        53   9   8   6   8   5  19.692308
1   PMD03  76.388889    13        70  13  14  12  10   4  18.000000
2   PMD04  77.777778    13        59   8  10  11  11   7  19.692308
3   PMD05  68.055556    16        85  15  15  10  13  13  18.000000
4   PMD06  18.055556    10        53   5  10   9   9   7  18.000000
5   PMD08  94.444444    10        36   5   6   6   4   8  18.000000
6   PMD09  90.277778    16        38  11   5   5   7   4  18.000000
7   PMD10  27.777778    23        71  10  12   9  13  10  19.000000
8   PMD11  87.500000     3        39   5   8   5   4   7  22.000000
9   PMD12  93.055556    11        49   6  12   7   7   6  18.000000
10  PMD16  22.222222    14        52   6  13   7   9   5  18.000000
11  PMD17  62.500000     3        41   5   8   4   6   5  18.000000
12  PMD18  90.277778     2        38   4   8   6   7   5  18.000000
13  PMD19  94.444444    13        46   5   8  13   8   7  18.000000
14  PMD21  43.055556     3        32   7   6   3   4   5  18.000000
15  PMD22  81.944444     1        38   7   7   5   6   5  18.000000
16  PMD23  94.444444    17        28   5   5   6   3   3  18.000000
17  PMD24  88.888889    10        40   4   8   8   3   6  18.000000
18  PMD25  84.722222     3        55   9   9  10   7   8  19.000000
19  PMD26  62.500000    20        63   9  11   9  11   9  18.000000
20  PMD27  55.555556     3        79  13  13  13   9  11  18.000000
21  PMD28  36.111111    13        57   8   9   7   7  10  20.000000
22  PMD30  52.777778    18        44   8   6   9   5   6  19.000000
23  PMD31  95.833333     3        58   8  11   9  11   8  20.000000
24  PMD32  75.000000     3        34   4   6   8   4   4  19.000000
25  PMD33  65.277778    14        53   5  10  13  10   3  26.000000
26  PMD34  13.888889     0        55  10  12   5   8   8  18.000000
27  PMD35  90.277778    12        43   7   6   7   4   7  18.000000
28  PMD36  75.000000    11        41   4   9   4   6   9  19.000000
29  PMD37  58.333333    13        64  10  11  12   8   8  18.000000
30  PMD38  11.111111    24        83  14  13  14  15  10  22.000000
31  PMD39  86.111111    11        43   5   9   8   9   4  18.000000
32  PMD41  13.888889    12        72  11  14   9  13  10  18.000000
33  PMD42  75.000000     3        56  10   6   6  13   7  22.000000
34  PMD43  41.666667     2        41   7   8   8   7   5  30.000000
35  PMD44  63.888889    18        73  10  13   8  12   7  25.000000
36  PMD45  90.277778    16        51   8   7   9  10  10  18.000000
37  PMD46  93.055556    16        38   4   7   6   3   6  19.000000
38  PMD47  83.333333     2        54   7  10   8   8   8  19.000000
39  PMD48  48.611111    18        22   3   3   5   3   3  19.000000
40  PMD49  98.611111    11        33   4   4   6   6   3  19.000000
41  PMD50  97.222222     0        39   5   6   6   3   6  18.000000
42  PMD51  37.500000     3        29   4   6   5   3   4  20.000000
43  PMD52  94.444444     2        88  14  14  11  15  13  19.000000
44  PMD54  87.500000     0        38   5   5   5   8   6  19.000000
45  PMD56  91.666667     3        27   3   6   3   4   5  21.000000
46  PMD57  81.944444     2        24   3   4   3   5   3  19.000000
47  PMD58  95.833333     0        73  11  13  11  11   8  36.000000
48  PMD59  94.444444     0        25   3   3   5   4   4  19.000000
49  PMD60  91.666667    16        31   4   6   4   4   5  20.000000
50  PMD61  44.444444     3        21   4   3   3   3   3  20.000000
51  PMD62  94.444444     1        28   6   5   3   3   4  22.000000
52  PMD63  86.111111     0        45   7   9   7   5   5  19.000000

                                Gender
0                               Female
1                               Female
2                Transgender Nonbinary
3                               Female
4                               Female
5                               Female
6                               Female
7                               Female
8                               Female
9                                 Male
10                                Male
11                              Female
12                              Female
13      Transgender Male/Trans Man/FTM
14                              Female
15                              Female
16  Transgender Female/Trans Woman/MTF
17                              Female
18                              Female
19      Transgender Male/Trans Man/FTM
20                              Female
21                                Male
22                              Female
23                                Male
24                              Female
25                              Female
26                              Female
27                        Gender Queer
28                              Female
29                              Female
30                              Female
31                                Male
32                              Female
33                                Male
34                              Female
35                                Male
36                                Male
37                              Female
38                              Female
39      Transgender Male/Trans Man/FTM
40                              Female
41                              Female
42                              Female
43                              Female
44                        Gender Queer
45                              Female
46                              Female
47                                Male
48                                Male
49                              Female
50                              Female
51                                Male
52                                Male

## Categorize gender into three groups: male, female, transgender

In [60]:
query = """
SELECT *, 
   CASE 
        WHEN table1.Gender IN ('Transgender Female/Trans Woman/MTF', 'Gender Queer', 'Nonbinary', 'Transgender Male/Trans Man/FTM', 'Transgender Nonbinary') THEN 'Transgender'
        ELSE table1.Gender
    END AS gender_collapsed
FROM table1
JOIN table2
ON table1.ID = table2.ID_Number
"""

# Execute the query and fetch the result into a pandas dataframe
df = pd.read_sql_query(query, conn)

# Display the  dataframe
print(df)

       ID   Accuracy           RT  PHQ9  CESD  DASS  PRMQ1  Confidence  JOL  \
0   PMD02  73.611111  1116.633001    16    33     7     27          11   60
1   PMD03  76.388889   805.957503    13    26     0     28           8   83
2   PMD04  77.777778   713.443193    13    37    14     27           8   95
3   PMD05  68.055556  1137.573536    16    40    16     37          22   87
4   PMD06  18.055556   796.787629    10    32    10     27          12   70
5   PMD08  94.444444   836.034642    10    38     6     23          13   65
6   PMD09  90.277778  1002.515621    16    36     5     22          18   75
7   PMD10  27.777778  1219.304303    23    48    18     38          20   80
8   PMD11  87.500000  1139.404717     3    28     3     25          15   60
9   PMD12  93.055556  1030.054932    11    29    11     27           8   78
10  PMD16  22.222222   847.326715    14    43    12     27          10   90
11  PMD17  62.500000  1400.999523     3    29     3     30          14   20
12  PMD18  90.277778   910.046022     2    22     1     19           7   60
13  PMD19  94.444444  1054.610100    13    42    10     37          13   85
14  PMD21  43.055556   875.270346     3    19     0     18           7   75
15  PMD22  81.944444   800.277961     1    21     0     17           7   65
16  PMD23  94.444444  1034.851849    17    37     9     33          16   70
17  PMD24  88.888889   906.864385    10    30     9     24          20   60
18  PMD25  84.722222   763.434551     3    27     6     20           7   80
19  PMD26  62.500000   993.799232    20    40     7     37          19   60
20  PMD27  55.555556   537.783543     3    26     2     23          11   80
21  PMD28  36.111111  1605.864797    13    39     8     34          15   80
22  PMD30  52.777778  1133.325704    18    34     5     29          16   70
23  PMD31  95.833333  1286.499900     3    24     1     20          13   70
24  PMD32  75.000000  1010.984193     3    22     1     33          11   95
25  PMD33  65.277778   646.758425    14    32     4     27          14   75
26  PMD34  13.888889   282.676568     0    19     2     22          13   80
27  PMD35  90.277778   749.858057    12    24     5     28          11   80
28  PMD36  75.000000  1517.967176    11    33     5     23          13   50
29  PMD37  58.333333   608.352824    13    30     3     25          11   75
30  PMD38  11.111111   787.409678    24    52    18     39          12   30
31  PMD39  86.111111   774.532085    11    38     9     26          10   70
32  PMD41  13.888889  1035.780068    12    43    13     31          18   80
33  PMD42  75.000000   738.802404     3    19     0     19           6   75
34  PMD43  41.666667   809.199528     2    22     1     28           8   15
35  PMD44  63.888889  1636.832174    18    40     8     34          17   40
36  PMD45  90.277778   912.855750    16    38    12     18          14   70
37  PMD46  93.055556  1044.373699    16    37     7     32          17   85
38  PMD47  83.333333  2093.869869     2    25     1     17          11   15
39  PMD48  48.611111  1155.042960    18    51     7     34           8   50
40  PMD49  98.611111   808.525583    11    29     6     26          14   75
41  PMD50  97.222222   846.445636     0    21     0     25           9   70
42  PMD51  37.500000  1168.119961     3    44     4     24          15   40
43  PMD52  94.444444  1075.354882     2    22     1     17           8   75
44  PMD54  87.500000  1003.072725     0    19     2     13           8   70
45  PMD56  91.666667  1051.797343     3    27     3     20          10   99
46  PMD57  81.944444   887.044694     2    21     1     19           9   70
47  PMD58  95.833333   908.469824     0    21     0     15          10   90
48  PMD59  94.444444  1423.620036     0    23     2     12           6   80
49  PMD60  91.666667  1363.804062    16    40     9     35          15   60
50  PMD61  44.444444  1366.920821     3    26     0     16          10   85
51  PMD62  94.444444  1320.366708     1    20     1     20           8   65
52  PMD63  86.111111  1073.515060     0    24     4     27          10   85

         N300  ...  Q3.1_18  Q3.1_19 Q3.1_20 DEXTOTAL  F1  F2  F3  F4  F5  \
0   -7.268333  ...        3        4       1       53   9   8   6   8   5
1   -9.697000  ...        4        5       1       70  13  14  12  10   4
2   -1.530000  ...        2        4       1       59   8  10  11  11   7
3   -2.507000  ...        2        4       1       85  15  15  10  13  13
4   -2.468333  ...        4        4       2       53   5  10   9   9   7
5    4.747000  ...        5        5       1       36   5   6   6   4   8
6    1.032000  ...        3        3       3       38  11   5   5   7   4
7   -9.944000  ...        5        5       2       71  10  12   9  13  10
8   -0.554333  ...        3        2       1       39   5   8   5   4   7
9  -10.473000  ...        4        2       2       49   6  12   7   7   6
10   0.254000  ...        3        1       5       52   6  13   7   9   5
11   5.271667  ...        3        4       1       41   5   8   4   6   5
12  -1.390667  ...        2        1       3       38   4   8   6   7   5
13   1.180333  ...        3        1       1       46   5   8  13   8   7
14   1.858667  ...        3        1       1       32   7   6   3   4   5
15  -2.475333  ...        1        2       2       38   7   7   5   6   5
16   1.834333  ...        5        5       1       28   5   5   6   3   3
17  -4.373667  ...        5        3       1       40   4   8   8   3   6
18   0.444000  ...        4        3       1       55   9   9  10   7   8
19  -1.010667  ...        5        5       2       63   9  11   9  11   9
20   1.888333  ...        3        3       2       79  13  13  13   9  11
21   3.279333  ...        4        4       2       57   8   9   7   7  10
22   4.003667  ...        4        3       3       44   8   6   9   5   6
23   4.238667  ...        3        1       2       58   8  11   9  11   8
24  -6.028667  ...        4        5       1       34   4   6   8   4   4
25  -0.524000  ...        3        4       2       53   5  10  13  10   3
26   2.949000  ...        3        1       1       55  10  12   5   8   8
27  10.406333  ...        5        4       1       43   7   6   7   4   7
28   1.912667  ...        4        4       2       41   4   9   4   6   9
29  -1.546667  ...        4        5       2       64  10  11  12   8   8
30  -3.868000  ...        5        5       2       83  14  13  14  15  10
31  -0.031667  ...        3        5       1       43   5   9   8   9   4
32   7.046000  ...        2        3       1       72  11  14   9  13  10
33   4.554667  ...        2        1       2       56  10   6   6  13   7
34   1.469333  ...        3        1       1       41   7   8   8   7   5
35  -5.123667  ...        5        5       5       73  10  13   8  12   7
36   0.910333  ...        3        4       5       51   8   7   9  10  10
37   1.103667  ...        3        4       1       38   4   7   6   3   6
38   1.301667  ...        3        2       1       54   7  10   8   8   8
39  -1.532000  ...        4        5       2       22   3   3   5   3   3
40   2.760667  ...        3        5       1       33   4   4   6   6   3
41   0.856333  ...        2        1       3       39   5   6   6   3   6
42   2.249333  ...        2        4       2       29   4   6   5   3   4
43   4.762333  ...        1        3       1       88  14  14  11  15  13
44  -1.094667  ...        1        4       1       38   5   5   5   8   6
45  -3.538333  ...        2        2       1       27   3   6   3   4   5
46   1.217667  ...        1        2       1       24   3   4   3   5   3
47  -0.040333  ...        1        1       1       73  11  13  11  11   8
48   2.355667  ...        1        1       1       25   3   3   5   4   4
49   6.082000  ...        5        4       1       31   4   6   4   4   5
50  -2.640333  ...        3        2       1       21   4   3   3   3   3
51   3.704333  ...        3        2       3       28   6   5   3   3   4
52   1.289667  ...        1        1       1       45   7   9   7   5   5

    gender_collapsed
0             Female
1             Female
2        Transgender
3             Female
4             Female
5             Female
6             Female
7             Female
8             Female
9               Male
10              Male
11            Female
12            Female
13       Transgender
14            Female
15            Female
16       Transgender
17            Female
18            Female
19       Transgender
20            Female
21              Male
22            Female
23              Male
24            Female
25            Female
26            Female
27       Transgender
28            Female
29            Female
30            Female
31              Male
32            Female
33              Male
34            Female
35              Male
36              Male
37            Female
38            Female
39       Transgender
40            Female
41            Female
42            Female
43            Female
44       Transgender
45            Female
46            Female
47              Male
48              Male
49            Female
50            Female
51              Male
52              Male

[53 rows x 45 columns]

## Simple linear regression - controlling for age and gender
Using statsmodel

In [61]:
# load the necessary packages
import statsmodels.api as sm
import statsmodels.formula.api as smf
from sklearn.preprocessing import StandardScaler

In [62]:
# Code categorical variable (Gender) using one-hot encoding
df = pd.get_dummies(df, columns=['gender_collapsed'], drop_first=True)

# Display the first few rows to see the changes
df.head()

,ID,Accuracy,RT,PHQ9,CESD,DASS,PRMQ1,Confidence,JOL,N300,...,Q3.1_19,Q3.1_20,DEXTOTAL,F1,F2,F3,F4,F5,gender_collapsed_Male,gender_collapsed_Transgender
0,PMD02,73.611111,1116.633001,16,33,7,27,11,60,-7.268333,...,4,1,53,9,8,6,8,5,0,0
1,PMD03,76.388889,805.957503,13,26,0,28,8,83,-9.697000,...,5,1,70,13,14,12,10,4,0,0
2,PMD04,77.777778,713.443193,13,37,14,27,8,95,-1.530000,...,4,1,59,8,10,11,11,7,0,1
3,PMD05,68.055556,1137.573536,16,40,16,37,22,87,-2.507000,...,4,1,85,15,15,10,13,13,0,0
4,PMD06,18.055556,796.787629,10,32,10,27,12,70,-2.468333,...,4,2,53,5,10,9,9,7,0,0

### Regression using the sm.OLS approach

In [65]:
# Calculate the p-value
# Use statsmodel to calculate the p-value

# Separate continuous and categorical variables
continuous_vars = df[['DEXTOTAL', 'Age']]
categorical_vars = df[['gender_collapsed_Male', 'gender_collapsed_Transgender']]

# Standardize continuous variables
scaler = StandardScaler()
continuous_vars_scaled = scaler.fit_transform(continuous_vars)

# Combine scaled continuous variables and categorical variables
X_scaled = pd.DataFrame(continuous_vars_scaled, columns=['DEXTOTAL', 'Age'])
X_scaled = pd.concat([X_scaled, categorical_vars.reset_index(drop=True)], axis=1)

# Add constant to predictors
X_scaled = sm.add_constant(X_scaled)

# Target variable
y = df['Accuracy']

# Fit OLS model
model = sm.OLS(y, X_scaled)
results = model.fit()

# Print summary
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               Accuracy   R-squared:                       0.134
Model:                            OLS   Adj. R-squared:                  0.062
Method:                 Least Squares   F-statistic:                     1.854
Date:                Wed, 10 Jul 2024   Prob (F-statistic):              0.134
Time:                        12:09:18   Log-Likelihood:                -243.18
No. Observations:                  53   AIC:                             496.4
Df Residuals:                      48   BIC:                             506.2
Df Model:                           4
Covariance Type:            nonrobust
================================================================================================
                                   coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------
const                           66.6907      4.301     15.507      0.000      58.043      75.338
DEXTOTAL                        -7.5617      3.497     -2.162      0.036     -14.593      -0.530
Age                              0.5183      3.603      0.144      0.886      -6.727       7.763
gender_collapsed_Male           12.0679      8.644      1.396      0.169      -5.312      29.448
gender_collapsed_Transgender    10.4794     10.474      1.000      0.322     -10.581      31.539
==============================================================================
Omnibus:                        5.840   Durbin-Watson:                   2.405
Prob(Omnibus):                  0.054   Jarque-Bera (JB):                5.850
Skew:                          -0.784   Prob(JB):                       0.0537
Kurtosis:                       2.564   Cond. No.                         3.48
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

### Regression using the smf.OLS approach

In [66]:
# Calculate the p-value
# Use statsmodel to calculate the p-value

# Standardize relevant predictors and add them back to the DataFrame
scaler = StandardScaler()
df[['DEXTOTAL', 'Age']] = scaler.fit_transform(df[['DEXTOTAL', 'Age']])

# Define the regression formula
formula = 'Accuracy ~ DEXTOTAL + Age + gender_collapsed_Male + gender_collapsed_Transgender'

# Fit OLS model
model = smf.ols(formula=formula, data=df)
results = model.fit()

# Print summary
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               Accuracy   R-squared:                       0.134
Model:                            OLS   Adj. R-squared:                  0.062
Method:                 Least Squares   F-statistic:                     1.854
Date:                Wed, 10 Jul 2024   Prob (F-statistic):              0.134
Time:                        12:10:30   Log-Likelihood:                -243.18
No. Observations:                  53   AIC:                             496.4
Df Residuals:                      48   BIC:                             506.2
Df Model:                           4
Covariance Type:            nonrobust
================================================================================================
                                   coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------
Intercept                       66.6907      4.301     15.507      0.000      58.043      75.338
DEXTOTAL                        -7.5617      3.497     -2.162      0.036     -14.593      -0.530
Age                              0.5183      3.603      0.144      0.886      -6.727       7.763
gender_collapsed_Male           12.0679      8.644      1.396      0.169      -5.312      29.448
gender_collapsed_Transgender    10.4794     10.474      1.000      0.322     -10.581      31.539
==============================================================================
Omnibus:                        5.840   Durbin-Watson:                   2.405
Prob(Omnibus):                  0.054   Jarque-Bera (JB):                5.850
Skew:                          -0.784   Prob(JB):                       0.0537
Kurtosis:                       2.564   Cond. No.                         3.48
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

The smf.ols approach is simpler to use becuase it handles the inclusion of the intercept term automatically based on the formula.
For sm.OLS, you need to standardize the predictors separately, and then ensure that the constant term is appropriately handled.

## Plot the data